/*  Learn about CSS here https://www.w3schools.com/Css/
https://freefrontend.com/css-lists/
*/


body{
  background-image:url(white.jpg);
  background-size: cover;
  background-attchment: fixed;


}




li{

  font-size: 25px;
  font-color: lightblue;
  font-family: monospace;
  padding-left: 20%;
  font-color: lightblue;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}








h1{
  font-size: 45px;
  font-color: lightblue;
  font-family: monospace;
  text-align: center;
  padding-top: 10px;
  padding-right: px;
  padding-bottom: 120px;
  padding-left: px;

}

h2{
  font-size: 25px;
  font-color: lightblue;
  font-family: monospace;
  text-align: center;
  padding-top: 10px;
  padding-right: px;
  padding-bottom: 120px;
  padding-left: px;

}
h3{
  font-size: 25px;
  font-color: lightblue;
  font-family: monospace;
  text-align: center;
  padding-top: 10px;
  padding-right: px;
  padding-bottom: 120px;
  padding-left: px;

}
